@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/* Custom styles can go here */

/* Esconde as setas dos campos de número */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Evita que o usuário selecione texto sem querer ao tocar rápido */
body {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* Permite digitar nos inputs normalmente */
input {
    -webkit-user-select: auto;
    user-select: auto;
}

/* Esconde a barra de rolagem mas permite rolar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}